<ion-view title="Schedule">
    <ion-content padding="true" class="has-header">

        <form id="schedule-form4" class="list ">
            <ion-item class="item-divider " id="schedule-list-item-divider1">How many Tweets per day?</ion-item>
            <label class="item item-input " id="schedule-input4">
                <input type="text" placeholder="#">
            </label>
            <ion-item class="item-divider " id="schedule-list-item-divider2">What times?</ion-item>
            <label class="item item-input " id="schedule-input5">
                <input type="text" placeholder="Enter time">
            </label>
        </form>

        <button id="schedule-button2" class=" button button-positive  button-block ">Add Time to Schedule</button>

        <ion-list id="schedule-list4" class=" ">
            <ion-item id="schedule-list-item9" ui-sref="scheduledTweets" class="  ">Time 1</ion-item>
            <ion-item id="schedule-list-item10" class="  ">Item 2</ion-item>
            <ion-item id="schedule-list-item11" class="  ">Item 3</ion-item>
        </ion-list>

    </ion-content>
</ion-view>
