<ion-view title="Add New">
    <ion-content padding="true" class="has-header">
        <form id="addNew-form2" class="list ">
            <label class="item item-input " id="addNew-input2" name="newTweet">

                <span class="input-label">Enter new Tweet</span>

                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="scheduledTweets" id="addNew-button2" class=" button button-positive  button-block icon ion-android-arrow-back">Add to Queue</a>
    </ion-content>
</ion-view>
