<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Scheduled Tweets Tab -->
  <ion-tab title="Scheduled Tweets" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/scheduledTweets">
    <ion-nav-view name="scheduledTweets"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Add New" icon-off="ion-android-add" icon-on="icon ion-android-add-circle" href="#/tab/addNew">
    <ion-nav-view name="addNew"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Schedule" icon-off="ion-ios-timer-outline" icon-on="ion-ios-timer" href="#/tab/times">
    <ion-nav-view name="times"></ion-nav-view>
  </ion-tab>

</ion-tabs>
